body{
    display: grid;
    grid-template-rows:70px 550px 306px 35px ;
    margin: 0px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
main{
background-color: green;
}
article{
background-color: yellow;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
img{
width: 100px;
position:absolute;
left:15px;
top:20px;
}
.material-symbols-outlined{
position:absolute;
right:15px;

}
@media (max-width: 1080px) {
    body{
        display: grid;
    grid-template-rows:100px 1060px 600px 41px ;
    margin: 0px;
    }
    main{
        background-color: red;
    }
    article{
        background-color: green;
    }
    footer{
        background-color: antiquewhite;
    }
    header{
        background-color: white;
    }

}



.material-symbols-outlined {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    display: inline-block;
    display: flex;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    justify-content: flex-end;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .material-symbols-outlined {
    background-color: peachpuff;
  }